@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #ffff;
  --secondary-color: #154841;
  --accent-color: #1b5e55;
  --white-color: #ffff;
  --card-color: #00985b;
  --bg-dark-green: #1a5c53;
  --gradient-color-1: #01985c;
  --gradient-color-2: #7ecdaa;
  --light-green-color: #8daeaa;
  --bg-color-banner-2: #1d4734;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.gradient-1 {
  background: linear-gradient(124.64deg, #00985b 0%, #f3fff4 186%);
}
.bg-dark-green {
  background-color: var(--bg-dark-green);
}
.bg-banner-2 {
  background-color: var(--bg-color-banner-2);
}
.bg-card-color {
  background-color: var(--card-color);
}
.text-color-card {
  color: var(--card-color);
}
.text-color-black {
  color: black;
}
.bg-secondary-color {
  background-color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: var(--accent-color) !important; /* Added fallback color */
  font-size: 18px;
  padding-right: 17px;
  transition: 0.5s ease;
}

/* Adjusting the ::before pseudo-element to represent a bottom border */
.navbar-light .navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  bottom: 0; /* Position it at the bottom */
  left: 0;
  width: 0; /* Initial state: border is not visible */
  height: 2px; /* Border thickness */
  background: var(--accent-color); /* Added fallback color */
  transition: width 0.3s;
}

/* On hover, the border expands from the left to the right */
.navbar-light .navbar-nav .nav-item:hover::before {
  width: 100%;
}

.btn-1 {
  background-color: var(--accent-color) !important;
  color: var(--white-color) !important;
  font-weight: 600 !important;
  border-radius: 0% !important;
}
.btn:hover {
  color: black !important
  ;
}
.btn-2 {
  padding: 7px 43px !important;
}
.btn-3 {
  padding: 23px 70px !important;
  font-weight: 700 !important;
}
.btn-4 {
  padding: 15px 25px;
  font-weight: 300;
}
ul li {
  list-style: none;
}

h1,
h2,
p {
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 40px !important;
  font-weight: 700 !important;
}
p {
  font-size: clamp(11px, 2vw, 16px);
}
h2 {
  font-size: clamp(30px, 3vw, 48px) !important;
  font-size: 44.44px !important;
}
h5 {
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 36px !important;
}
p {
  font-weight: 400 !important;
  line-height: 21px !important;
}

/*navbar*/
.navbar-wrapper {
  border-bottom: 3px solid var(--accent-color);
}
.navbar-brand {
  margin-right: -1rem;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white-color);
  opacity: 1;
  border: 0.5px solid var(--white-color);
}

.carousel-control-next,
.carousel-control-prev {
  width: 2.5% !important;
}

.carousel-indicators .active {
  background-color: var(--accent-color);
}
.hero-section {
  overflow: hidden;
}

.carousel-control-prev {
  position: absolute !important;
  left: 47% !important;
  bottom: -86% !important;
}
.carousel-control-next {
  position: absolute !important;
  right: 47% !important;
  bottom: -86% !important;
}
.carousel-caption {
  top: 24%;
  left: 7%;

  max-width: 50%;
}
.carousel-caption p {
  width: 566px;
}

/*banner-1*/
.banner-1-wrapper {
  padding: 160px 0px 70px 0px;
}
.banner-1-wrapper .container > div:first-child > div:nth-child(2) {
  background-color: var(--secondary-color);
}
.banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
  padding: 115px 146px 115px 115px;
}
.banner-1-wrapper .container {
  max-width: 1024px !important;
}
.banner-1-wrapper figure {
  margin-top: -90px;
}
.banner-1-wrapper,
.services-wrapper,
.message-wrapper {
  background-image: linear-gradient(
    90deg,
    rgba(175, 190, 188, 0.5) 1.11px,
    transparent 1.11px
  );
  background-size: 142px 100%;
}

/*services*/
.services-wrapper {
  padding: 90px 20px;
}
.services-wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.services-wrapper .card {
  padding: 60px 25px 100px 25px;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.services-wrapper .card:hover {
  background: linear-gradient(124.64deg, #00985b 0%, #f3fff4 186%);
  transition: 0.5s ease-in;
}
.services-wrapper .card:hover figure {
  background: var(--white-color);
}
.services-wrapper .card:hover h5,
.services-wrapper .card:hover .card-text {
  color: var(--white-color);
}
/*vision*/
.vision-content h2 {
  font-size: 48px !important;
  line-height: 72px;
  font-weight: 600;
}
.vision-para {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
}

.vision-wrapper {
  background-image: url("../Assets/img/our-vision.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 163px 0px 247px 0px;
  background-position: center center;
}

#vision .vision-content p {
  font-size: 18px;
  line-height: 27px !important;
  font-weight: 400;
}
.core-values-wrapper {
  padding: 6rem 0;
  background-color: #000000;
}
.core-values-heading {
  margin-bottom: 80px;
}
.core-values-wrapper h3 {
  color: var(--white-color);
  font-size: 50px;
}
.core-values-wrapper h6 {
  color: var(--white-color);
}
.core-values-wrapper p {
  font-size: 15px;
}
/*message*/
.message-wrapper {
  padding: 6rem 0;
}
.message-wrapper h2 {
  font-size: 36px !important;
}
.message-wrapper .container > div:first-child > div:nth-child(1) {
  z-index: 1;
}
.box-2 {
  background-color: var(--secondary-color);
  padding: 70px 55px;
  margin-left: -120px;
}
.message-wrapper .container > div:first-child > div:nth-child(2) p {
  margin-right: 160px;
}
.message-wrapper .container figure img {
  max-width: 100%;
  height: auto;
}

/*contact-us*/
.contact-us-wrapper {
  padding: 6.5rem 0;
  background-color: #000000;
}

.contact-us-wrapper
  .container
  div:first-child
  > div:first-child
  > div:nth-child(2)
  p {
  font-size: 19px;
}
.form-control {
  border-radius: 0;
}
.contact-us-wrapper span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
}
.contact-us-wrapper figure img {
  height: auto;
  max-width: 100%;
}
::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #bdbdbd;
  padding: 10px 0px;
}
/*footer*/
.footer-wrapper h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}
.footer-wrapper {
  padding-top: 50px;
  background-color: var(--accent-color);
}
.nav-text li a {
  color: var(--white-color);
  padding: 0 72px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}
.nav-text li:nth-child(2) {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.social-icons {
  gap: 27px;
}
.footer-wrapper > div:first-child > div:first-child {
  padding-bottom: 30px;
}
.nav-text {
  padding-top: 34px;
  padding-bottom: 62px;
}
.footer-wrapper .nav-item:hover a {
  font-weight: 600;
  color: var(--light-green-color);
  transition: 0.5s ease all;
}
.social-icons li a:hover img {
  transform: translateY(-3px);
  transition: 0.5s ease all;
}
/*office Address*/
.office-address {
  gap: 200px;
}
.office-address address,
.office-address h5 {
  font-size: 20px !important;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500 !important;
  margin-bottom: 0;
}

.office-address-name {
  color: #e09b6b !important;
}
.office-address h5 a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  .carousel-caption {
    top: 14%;
    left: 4% !important;
    max-width: 70%;
  }
  h2 {
    font-size: 36px !important;
  }
  .vision-content h2 {
    font-size: 36px !important;
  }
  h5 {
    font-size: 20px;
  }

  .btn-3 {
    padding: 18px 46px;
  }
  .carousel-caption p {
    margin-right: 30px;
  }
  .carousel-control-next {
    right: 40%;
    bottom: -80%;
  }
  .carousel-control-prev {
    left: 40%;
    bottom: -80%;
  }
  .banner-1-wrapper .container {
    max-width: 620px !important;
  }
  .banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
    padding: 40px 15px 40px 130px;
  }
  .banner-1-wrapper {
    padding: 160px 0px 160px 0px;
  }
  .services-wrapper .card {
    padding: 40px 25px 40px 25px;
  }
  .vision-wrapper {
    padding: 80px 0px 80px 0px;
  }
  .vision-para {
    margin-top: 0px;
  }
  .core-values-wrapper h3 {
    font-size: 36px;
  }
  .message-wrapper {
    padding: 4rem 20px;
  }
  .box-2 {
    padding: 60px 20px 60px 84px;
  }
  .message-wrapper .container > div:first-child > div:nth-child(2) p {
    margin-right: 50px;
  }
  .footer-wrapper h4 {
    font-size: 22px;
    line-height: 32px;
  }
  .footer-wrapper > div:nth-child(2) ul li a {
    padding: 0 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  .box-2 {
    padding: 60px 20px 60px 104px !important;
  }
  .contact-us-wrapper figure {
    text-align: center;
    font-size: 18px;
  }
  .nav-text li a {
    padding: 0 20px;
  }
  .carousel-indicators {
    width: 10px;
    height: 10px;
  }
  .carousel-caption p {
    margin-right: 0;
  }
  .btn-3 {
    padding: 12px 30px !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    bottom: -76%;
  }
  .carousel-caption {
    top: 14%;
  }
  .carousel-control-next {
    right: 45% !important;
  }
  .carousel-control-prev {
    left: 45% !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 4% !important;
  }
  .banner-1-wrapper figure {
    margin-top: -20px;
    margin: -20px;
  }
  .banner-1-wrapper {
    padding: 80px 20px 80px 20px;
  }

  .banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
    padding: 34px 15px 19px 34px;
  }
  .banner-1-wrapper img {
    max-width: 66% !important;
    margin-top: 9%;
    margin-left: -4%;
  }
  #vision .vision-content p {
    padding: 10px 30px !important;
    font-size: 16px;
  }
  .core-values-wrapper {
    padding: 5rem 0;
  }
  .core-values-wrapper h3 {
    font-size: 28px;
    top: 14px !important;
    left: 58px !important;
  }

  .contact-us-wrapper {
    padding: 6.5rem 20px;
  }
  .message-wrapper h2 {
    font-size: 28px !important;
  }
  .message-wrapper .container > div:first-child > div:nth-child(2) p {
    margin-right: 14px;
  }
  .office-address {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 475px) {
  h1 {
    font-size: 18px !important;
    text-align: center;
  }
  .carousel-caption p {
    text-align: center;

    width: 360px;
    line-height: 13px !important;
  }
  .carousel-caption {
    max-width: 100%;
    left: 0% !important;
    right: 0% !important;
    top: 0;
  }
  .btn-3 {
    padding: 8px 20px !important;
    font-size: 14px !important;
  }
  .hero-section-lastline {
    margin-top: 10px;
  }
  .carousel-inner {
    height: 43vh;
  }
  .carousel-item {
    height: 100%;
  }
  .carousel-inner img {
    height: 100%;
  }
  .navbar-brand {
    max-width: 50%;
  }
  .navbar-brand img {
    width: 40% !important;
  }
  .nav-text {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .nav-text li a {
    padding: 0px 37px;
    font-size: 12px;
  }
  .banner-1-wrapper figure {
    position: unset !important;
  }
  .banner-1-wrapper img {
    max-width: 100% !important;
  }
  .banner-1-wrapper {
    padding: 50px 10px 50px 10px;
  }
  h2 {
    font-size: 22px !important;
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .services-wrapper {
    padding: 50px 10px;
  }
  .services-wrapper .card {
    padding: 25px;
  }
  .vision-wrapper {
    padding: 50px 10px;
  }
  #vision .vision-content p {
    font-size: 14px;
  }
  .core-values-wrapper {
    padding: 50px 10px;
  }
  .core-values-heading {
    margin-bottom: 40px;
  }
  .contact-us-wrapper {
    padding: 50px 10px;
  }
  .nav-text li a {
    padding: 0px 15px;
  }
  .footer-wrapper h4 {
    font-size: 18px;
    line-height: 26px;
  }
  .carousel-caption > div {
    align-items: center !important;
  }
  .navbar-brand {
    width: 80% !important;
  }
  .banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
    padding: 20px;
  }
  .box-2 {
    margin-left: 0px !important;
    padding: 30px !important;
  }
  .carousel-control-next {
    right: 5px !important;
    bottom: 0 !important;
  }
  .carousel-control-prev {
    bottom: 0 !important;
    left: 5px !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 5% !important;
  }
  .banner-1-wrapper figure {
    margin: 0;
  }
  .office-address address,
  .office-address h5 {
    font-size: 14px !important;
    text-align: left;
    line-height: 28px !important;
  }
}
