@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #ffff;
  --secondary-color: #154841;
  --accent-color: #1b5e55;
  --white-color: #ffff;
  --card-color: #00985b;
  --bg-dark-green: #1a5c53;
  --gradient-color-1: #01985c;
  --gradient-color-2: #7ecdaa;
  --light-green-color: #8daeaa;
  --bg-color-banner-2: #1d4734;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.gradient-1 {
  background: linear-gradient(124.64deg, #00985b 0%, #f3fff4 186%);
}
.bg-dark-green {
  background-color: var(--bg-dark-green);
}
.bg-banner-2 {
  background-color: var(--bg-color-banner-2);
}
.bg-card-color {
  background-color: var(--card-color);
}
.text-color-card {
  color: var(--card-color);
}
.text-color-black {
  color: black;
}
.bg-secondary-color {
  background-color: var(--secondary-color);
}

.container {
  max-width: 1250px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--accent-color);
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--accent-color);
  font-size: 18px;
  padding-right: 17px;
}
.btn-1 {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 600;
  border-radius: 0%;
}
.btn-2 {
  padding: 7px 43px;
}
.btn-3 {
  padding: 23px 70px;
  font-weight: 700;
}
.btn-4 {
  padding: 15px 25px;
  font-weight: 300;
}
ul li {
  list-style: none;
}

h1,
h2,
p {
  color: var(--white-color);
}
h1 {
  font-size: 56px;
  font-weight: 700;
}
p {
  font-size: clamp(12px, 3vw, 16px);
}
h2 {
  font-size: clamp(30px, 3vw, 48px);
  font-size: 44.44px;
}
h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

/*navbar*/
.navbar-wrapper {
  border-bottom: 3px solid var(--accent-color);
}
.navbar-brand {
  margin-right: -1rem;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white-color);
  opacity: 1;
  border: 0.5px solid var(--white-color);
}
.carousel-indicators .active {
  background-color: var(--accent-color);
}
.hero-section{
  overflow: hidden;
}

.carousel-control-prev {
  position: absolute;
  left: 41%;
  bottom: -86%;
}
.carousel-control-next {
  position: absolute;
  right: 41%;
  bottom: -86%;
}
.carousel-caption {
  top: 24%;
  left: 7%;

  max-width: 50%;
}
.carousel-caption p {
  margin-right: 160px;
}

/*banner-1*/
.banner-1-wrapper {
  padding: 160px 0px 70px 0px;
}
.banner-1-wrapper .container > div:first-child > div:nth-child(2) {
  background-color: var(--secondary-color);
}
.banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
  padding: 115px 146px 115px 115px;
}
.banner-1-wrapper .container {
  max-width: 1024px !important;
}
.banner-1-wrapper figure {
  margin-top: -90px;
}
.banner-1-wrapper,
.services-wrapper,
.message-wrapper {
  background-image: linear-gradient(
    90deg,
    rgba(175, 190, 188, 0.5) 1.11px,
    transparent 1.11px
  );
  background-size: 142px 100%;
}

/*services*/
.services-wrapper {
  padding: 90px 0;
}
.services-wrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.services-wrapper .card {
  padding: 60px 25px 100px 25px;
}
.services-wrapper .card:hover {
  background: linear-gradient(124.64deg, #00985b 0%, #f3fff4 186%);
}
.services-wrapper .card:hover figure {
  background: var(--white-color);
}
.services-wrapper .card:hover h5,
.services-wrapper .card:hover .card-text {
  color: var(--white-color);
}
/*vision*/
.vision-content h2 {
  font-size: 48px !important;
  line-height: 72px;
  font-weight: 600;
}
.vision-para {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
}

.vision-wrapper {
  background-image: url("../Assets/img/our-vision.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 163px 0px 247px 0px;
  background-position: center center;
}

#vision .vision-content p {
  font-size: clamp(12px, 3vw, 18px);
  line-height: 27px;
}
.core-values-wrapper {
  padding: 6rem 0;
  background-color: #000000;
}
.core-values-heading {
  margin-bottom: 80px;
}
.core-values-wrapper h3 {
  color: var(--white-color);
  font-size: 50px;
}
.core-values-wrapper h6 {
  color: var(--white-color);
}
.core-values-wrapper p {
  font-size: 15px;
}
/*message*/
.message-wrapper {
  padding: 6rem 0;
}
.message-wrapper h2 {
  font-size: 36px !important;
}
.message-wrapper .container > div:first-child > div:nth-child(1) {
  z-index: 1;
}
.box-2 {
  background-color: var(--secondary-color);
  padding: 70px 55px;
  margin-left: -62px;
}
.message-wrapper .container > div:first-child > div:nth-child(2) p {
  margin-right: 160px;
}
.message-wrapper .container figure img {
  max-width: 100%;
  height: auto;
}

/*contact-us*/
.contact-us-wrapper {
  padding: 6.5rem 0;
  background-color: #000000;
}

.contact-us-wrapper
  .container
  div:first-child
  > div:first-child
  > div:nth-child(2)
  p {
  font-size: 19px;
}
.form-control {
  border-radius: 0;
}
.contact-us-wrapper span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
}
.contact-us-wrapper figure img {
  height: auto;
  max-width: 100%;
}
::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #bdbdbd;
  padding: 10px 0px;
}
/*footer*/
.footer-wrapper h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 27px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}
.footer-wrapper {
  padding-top: 50px;
  background-color: var(--accent-color);
}
.nav-text li a {
  color: var(--white-color);
  padding: 0 72px;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}
.nav-text li:nth-child(2) {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.social-icons {
  gap: 27px;
}
.footer-wrapper > div:first-child > div:first-child {
  padding-bottom: 50px;
}
.nav-text {
  padding-top: 34px;
  padding-bottom: 62px;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
}
h2{
font-size: 36px !important;
}
.vision-content h2 {
    font-size: 36px !important;
}
h5{
  font-size: 20px;
}

.btn-3 {
    padding: 18px 46px;
}
.carousel-caption p {
    margin-right: 30px;
}
.carousel-control-next {
    right: 40%;
    bottom: -80%;
}
.carousel-control-prev {
    left: 40%;
    bottom: -80%;
}
.banner-1-wrapper .container {
    max-width: 930px !important;
}.banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
    padding: 40px 15px 40px 130px;
}.banner-1-wrapper {
    padding: 160px 0px 160px 0px;
}
.services-wrapper .card {
    padding: 40px 25px 40px 25px;
}
.vision-wrapper {
    padding: 80px 0px 80px 0px;
}
.vision-para {
    margin-top: 0px;
}
.core-values-wrapper h3 {
    font-size: 36px;
}
.message-wrapper {
    padding: 4rem 20px;
}
.box-2 {
    padding: 60px 20px 60px 84px;
}
.message-wrapper .container > div:first-child > div:nth-child(2) p {
    margin-right: 50px;
}
.footer-wrapper h4 {
    font-size: 22px;
    line-height: 32px;
}
.footer-wrapper > div:nth-child(2) ul li a {
    padding: 0 40px;
    font-size: 18px;
}

}

@media screen and (max-width: 1024px) {
  h1{
    font-size: 30px;
  }
  .carousel-caption p {
    margin-right: 0;
}
.btn-3 {
    padding: 12px 30px;
}
.carousel-control-next, .carousel-control-prev  {

    bottom: -76%;
}
.carousel-caption {
    top: 14%;

}
.banner-1-wrapper figure {
    margin-top: 0px;
}
.banner-1-wrapper {
    padding: 100px 20px 100px 20px;
}

.banner-1-wrapper .container > div:first-child > div:nth-child(2) > div {
    padding: 34px 15px 19px 34px;
}
.banner-1-wrapper img{
  max-width: 50.4%;
}
#vision .vision-content p {
    padding: 10px 30px !important;
    font-size: 16px;
}
.core-values-wrapper {
    padding: 5rem 0;
}
.core-values-wrapper h3 {
    font-size: 28px;
        top: 14px !important;
    left: 58px !important;
}

.contact-us-wrapper {
    padding: 6.5rem 20px;

}
}
@media screen and (max-width: 1024px){
  h1{
    font-size: 26px !important;
  }
  .carousel-caption {
    top: 0%;
        max-width: 100%;
}
.carousel-inner {
    height: 54vh;
}
.carousel-item {
    height: 100%;
}
.carousel-inner img{
  height: 100%;
}
.carousel-control-next, .carousel-control-prev  {
  right:  unset !important;
    bottom: unset !important;
}
}